.custom-shape-divider-bottom-1672233840 {
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1672233840 svg {
    display: block;
    width: calc(136% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1672233840 .shape-fill {
    fill: #4A90E2;
}